@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search');



* {
    padding: 0;
    margin: 0;
}

:root {
    --fundo: #343A40;
    --azul: #5C88CA;
    --fundoDiv: #16191b;
    --fundoDivHover: #212529;
    --fundoAdd: #5D8ACD;
    --fundoAddHover: #4a6fa7;
    --cinza: #d3d3d3;
    --branco: white;
    --fonte: "Inter", sans-serif;

    --amarelo: #FCBE08;
    --fundoAmarelo: #383526;

    --azul: #17A2B2;
    --fundoAzul: #203238;

    --vermelho: #cf222d;
    --fundoVermelho: #34262C;


}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-width: 650px;
    height: 100vh;
    background-color: var(--fundo);
}

.container {
    margin-top: 20px;
    background-color: transparent;
    width: 60vw;
    min-width: 500px;
    height: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* 70vw no @media */
}

.quantidades {
    background-color: var(--fundoDiv);
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    border-radius: 8px;
    padding: 5px;


}

.numero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte);
    font-weight: 400;


}

.numero h1 {
    color: var(--azul);

}

.numero p {
    color: var(--cinza);

}

/* adicionar tarefa */


.tarefa>form,
.tarefa {
    display: flex;
    justify-content: space-between;
    width: 101%;
    margin-top: 20px;
    gap: 10px;

}

.tarefa form>input {
    padding: 5px 5px 5px 10px;
    width: 85%;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: var(--fundoDiv);
    font-size: 15px;
    color: var(--cinza);
    transition: .5s;

}

.tarefa form>input:hover {
    background-color: var(--fundoDivHover);
    transition: .5s;
}

.tarefa form>button {
    padding: 3px;
    width: 13%;
    min-width: 82px;
    background-color: var(--fundoAdd);
    border: none;
    border-radius: 8px;
    color: var(--branco);
    font-size: 15px;
    transition: .5s;

}


.tarefa form>button:hover {
    background-color: var(--fundoAddHover);
    transition: .5s;
    cursor: pointer;
}

/* filtro de tarefas */

.filtros {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
}


.filtro {
    background-color: var(--fundoDiv);
    color: var(--cinza);
    height: 35px;
    width: 20%;
    min-width: 110px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: start;
    border: none;
    padding: 5px 5px 5px 10px;
    cursor: pointer;
}

.filtro option:hover {
    cursor: pointer;
}

.pesquisar {
    display: flex;
    justify-content: end;
    width: 100%;
}

.form-busca {
    position: relative;

    display: flex;
    justify-content: end;
    width: 60%;
    min-width: 175px;
}

.pesquisa {
    width: 100%;
    height: 35px;

    background-color: var(--fundoDiv);
    color: var(--cinza);
    border-radius: 5px;
    font-size: 15px;
    border: none;

    padding: 0px 40px 0px 15px;
}


.icone-pesquisa {

    position: absolute;

    top: 50%;
    transform: translateY(-50%);


    right: 10px;

    width: 18px;
    height: 18px;
    z-index: 2;
    cursor: text;

}


/* lista de tarefas */

.lista {
    margin-top: 20px;
    width: 100%;

}

.icons {
    display: flex;
    width: 100%;

}

.linha {
    display: flex;
}

.linha {
    background-color: var(--fundoDiv);
    color: var(--cinza);
    font-family: var(--fonte);
    padding: 9px;
    font-size: 15px;
    cursor: default;
    align-items: center;
    border-radius: 3px;
    border-bottom: 2px solid var(--fundo);
}

.lista input {
    margin-left: 15px;
    margin-right: 10px;
    height: 21px;
    width: 21px;
    cursor: pointer;
    accent-color: gray;
}

.linha input:checked+p {
    text-decoration: line-through;
    color: gray;
}

.linha>p {
    width: 100%;
}


/* icones da linha */
.icons {
    justify-content: end;
    align-items: center;
}



.baixo {
    font-size: 12px;
    background-color: var(--fundoAzul);
    color: var(--azul);
    padding: 4px;
    border-radius: 7px;
    margin-right: 5px;
}


.medio {
    font-size: 12px;
    background-color: var(--fundoAmarelo);
    color: var(--amarelo);
    padding: 4px;
    border-radius: 7px;
    margin-right: 5px;
}

.alto {
    font-size: 12px;
    background-color: var(--fundoVermelho);
    color: var(--vermelho);
    padding: 4px 7px;
    border-radius: 7px;
    margin-right: 5px;
}


.icons img {
    height: 20px;
    padding: 5px;
    transition: .5s;

}

.icons img:hover {
    background-color: var(--fundoDivHover);
    transition: .5s;
    cursor: pointer;

}