
.card{
    height: 200px;
    width: 400px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

}


.card:hover .texto{
    opacity: 1;
    transition: 0.6s;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.texto{
    position: absolute;
    inset: 0;
    display: flex;
    width: 400px;
    opacity: 0;
    transition: 0.4s;
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}




